@{
    ViewData["Title"] = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cadastro de cargo</h2>
<div style="padding: 20px 20px 20px 20px">
    <form>
        <div class="col-lg-6 form-group">
            <label for="nomeCargo">Nome</label>
            <input type="text" class="form-control" id="nomeCargo" placeholder="Nome do cargo">
        </div>
        <div class="col-lg-6 form-group">
            <label for="salarioCargo">Salário base</label>
            <input type="text" class="form-control salarioCargo" id="salarioCargo" placeholder="Salário base">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>

<script>
</script>